[user]
	name = Tim Trefren
	email = tim@mixpanel.com

[color]
        ui = true
        interactive = true

[color "status"]
        added = green bold
        changed = red bold
        untracked = cyan

[color "diff"]
        meta = cyan bold
        old = red bold
        new = green bold
        frag = blue
        commit = yellow bold

[color "branch"]
        current = green bold
        local = bold
        remote = red bold

[color "grep"]
        match = cyan

[pager]
        color = true

[core]
        editor = vim
        pager = less -FXRS -x4

[alias]
        short = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --patience>
